:root {
  font: 20px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0.25;
  min-height: 100%;
  background-color: rgb(155, 202, 218);
  list-style:none;
  text-align:center;

}

.page-title {
  color:rgb(142, 187, 202);
  border:3px solid black;
  padding:2rem;
  text-align:center;
}

li {

display:flex;
justify-content:center;
text-align:center;
flex-flow:column wrap;
width: 25%;
}

.Movie {

  display:flex;
  justify-content: 
}